.row1{
margin-left: 20px;
color: white;
}
.row2{
    display: flex;
    padding: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
}
.row2::-webkit-scrollbar{
    display: none;
}

.image1{
    cursor: pointer;
    max-height: 250px;
    margin-right: 10px;
}
.image2{
    cursor: pointer;
    max-height: 150px;
    margin-right: 10px;
    
}
.image1:hover{
    transform: scale(1.2);
}
.image2:hover{
    transform: scale(1.2);
}